.clearfix::after,
.inner::after,
.inner2::after {
    content: "";
    display: block;
    clear: both;
}

body {
    font-family: 'S-CoreDream-4Regular';
}

.inner {
    width: 1600px;
    margin: 0 auto;
}

.inner2 {
    width: 1300px;
    margin: 0 auto;
}

/* header */

header {
    width: 100%;
    position: fixed;
    background: #fff;
    z-index: 10;
}

header .h_top {
    width: 100%;
    padding: 10px 0;
}

header .h_top h1 {
    float: left;
}

header .h_top>a {
    float: right;
    line-height: 43px;
    letter-spacing: -1px;
    font-size: 15px;
    text-decoration: underline;
}

header .h_bottom {}

header .h_bottom nav {
    float: left;
}

header .h_bottom nav ul.gnb {}

header .h_bottom nav ul.gnb>li {
    float: left;
    width: 160px;
    font-size: 15px;
    position: relative;
}

header .h_bottom nav ul.gnb>li>a {
    display: block;
    width: 100%;
    height: 39px;
    line-height: 39px;
}

header .h_bottom nav ul.gnb>li>ul {
    width: 100%;
    padding: 20px 0 35px 15px;
    box-sizing: border-box;
    line-height: 2.3;
    background: #303030;
    color: #fff;
    position: absolute;
    left: 0;
    top: 39px;
    display: none;
}

header .h_bottom nav ul.gnb>li:hover>ul {
    display: block;
}

header .h_bottom nav ul.gnb>li>ul>li {}

header .h_bottom nav ul.gnb>li>ul>li>a {}

header .h_bottom .btn_sns {
    float: right;
}

header .h_bottom .btn_sns a {}


/* main_visual */
.main_visual {
    width: 100%;
    padding-top: 102px;
}

.main_visual .main_slide {
    width: 100%;
    height: 780px;
    background-image: url(../images/banner1.jpg);
}

/* section */
.bold {
    font-family: 'S-CoreDream-9Black';
}

section h2 {
    font-size: 18px;
}

/* alpha_product */
.alpha_product {
    padding: 150px 0;
}

.alpha_product ul {
    margin-top: 24px;
}

.alpha_product ul li {
    float: left;
    border: 1px solid #e4e4e4;
    color: #fff;
    position: relative;
    overflow: hidden;
    margin-bottom: 24px;
}

.alpha_product ul li:nth-child(3n-1) {
    margin: 0 24px;
}

.alpha_product ul li a {
    background: rgba(0, 0, 0, 0.4);
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
    transform: translateY(319px);
    transition: all 0.6s;
}

.alpha_product ul li:hover a {
    transform: translateY(0);
}

.alpha_product ul li a span {
    padding: 110px 0 14px;
    display: inline-block;
    font-size: 15px;
    letter-spacing: 2px;
    font-family: 'S-CoreDream-2ExtraLight';
}

.alpha_product ul li a p {
    font-size: 30px;
}

.alpha_product ul li a .plus {
    width: 31px;
    border-bottom: 1px solid #fff;
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
}

.alpha_product ul li a .plus::after {
    content: "";
    display: block;
    width: 1px;
    height: 31px;
    background: #fff;
    position: absolute;
    left: 15px;
    top: -15px;
}

/* alpha_news */
.alpha_news {
    width: 100%;
    height: 303px;
    box-sizing: border-box;
    background-color: #f7f7f7;
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
}

.alpha_news .a_news {
    width: 481px;
    height: 303px;
    box-sizing: border-box;
    border-right: 1px solid #e4e4e4;
    float: left;
}

.alpha_news .a_news .tit {
    padding: 20px;
}

.alpha_news .a_news .tit h2 {
    float: left;
}

.alpha_news .a_news .tit a {
    float: right;
}

.alpha_news .a_news .news_top {
    position: relative;
    padding-left: 20px;
    padding-bottom: 16px;
    margin-right: 20px;
    border-bottom: 1px solid #9e9e9e;
}

.alpha_news .a_news .news_top strong {
    display: inline-block;
    width: 240px;
    font-size: 20px;
    letter-spacing: -0.05em;
    color: #222;
    padding-left: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: absolute;
    right: 0;
    top: 0;
}

.alpha_news .a_news .news_bottom {
    color: #222;
    font-family: 'S-CoreDream-3Light';
    font-size: 15px;
    padding: 20px 0;
    line-height: 2;
}

.alpha_news .a_news .news_bottom a {
    position: relative;
    display: block;
}

.alpha_news .a_news .news_bottom a .day {
    bottom: 0;
}

.day {
    font-size: 15px;
    letter-spacing: -0.05em;
    color: #666;
    position: absolute;
    right: 20px;
    bottom: 16px;
}

.alpha_news ul.a_menu {
    float: left;

}

.alpha_news ul.a_menu li {
    width: 273px;
    height: 303px;
    box-sizing: border-box;
    border-right: 1px solid #e4e4e4;
    text-align: center;
    float: left;
}

.alpha_news ul.a_menu li:nth-child(1) {
    background: #f1f1f1;
}

.alpha_news ul.a_menu li:nth-child(2) {
    background: url(../images/menu_bg.png) no-repeat 50% 50%;
}

.alpha_news ul.a_menu li:nth-child(3) {
    background: #f0f0f0;
}

.alpha_news ul.a_menu li a {}

.alpha_news ul.a_menu li a img {
    padding: 40px 0;
}

.alpha_news ul.a_menu li a strong {
    display: block;
    font-family: 'S-CoreDream-6Bold';
    font-size: 20px;
    padding-bottom: 20px;
    position: relative;
}

.alpha_news ul.a_menu li a strong::after {
    content: "";
    width: 29px;
    height: 2px;
    background: #cc2431;
    display: block;
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
}

.alpha_news ul.a_menu li a p {
    padding-top: 20px;
    font-size: 15px;
    color: #666;
    line-height: 24px;
    font-family: 'S-CoreDream-3Light';
}

/* alpha_insta */
.alpha_insta {
    padding: 145px 0;
    text-align: center;
}

.alpha_insta h2 {
    font-size: 28px;
    color: #222;
    padding-bottom: 20px;
}

.alpha_insta p {
    font-size: 17px;
    padding-bottom: 20px;
}

.alpha_insta ul {
    width: 985px;
    margin: 0 auto;
}

.alpha_insta ul li {
    float: left;
    margin-right: 5px;
}

.alpha_insta ul li:last-child {
    margin-right: 0;
}

.alpha_insta ul li a {}

.alpha_insta ul li a img {
    width: 160px;
}

/* footer */
footer {
    font-size: 13px;
    color: #666;
    font-family: 'S-CoreDream-3Light';
}

footer .f_top {
    width: 100%;
    padding: 14px 0;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}

footer .f_top ul {}

footer .f_top ul li {
    float: left;
    margin-right: 20px;
}

footer .f_top ul li a {}

footer .f_bottom {
    width: 100%;
    padding: 40px 0;
    font-size: 14px;
}
footer .f_bottom .fb_left{
    float: left;
    width: 50%;
}
footer .f_bottom .fb_left p{
    margin-bottom: 20px;
}
footer .f_bottom .fb_left ul{}
footer .f_bottom .fb_left ul li{
    float: left;
    margin-top: 1em;
    padding: 0 10px;
    border-right: 1px solid #666;
}
footer .f_bottom .fb_left ul li:nth-child(3n){
    border-right: 0;
}
footer .f_bottom .fb_left ul li:nth-child(3n-2){
    padding-left: 0;
}
footer .f_bottom .fb_left ul li span{
    padding: 0 4px;
    border:1px solid #ddd;
    border-radius: 2px;
}
footer .f_bottom .fb_left .copy{
    line-height: 25px;
    margin: 20px 0;
}
footer .f_bottom .fb_left .copy img{
    height: 25px;
    margin-right: 10px;
    vertical-align: top;
}
footer .f_bottom .fb_right{
    float: right;
}
footer .f_bottom .fb_right strong{
    color: #222;
    font-family: 'S-CoreDream-6Bold'; 
}
footer .f_bottom .fb_right p{
    margin: 20px 0;
    line-height: 2;
}
footer .f_bottom .fb_right .img_box{}
footer .f_bottom .fb_right .img_box a:nth-child(1){
    margin-right: 10px;
}
footer .f_bottom .fb_right .img_box a img{}